{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        td:nth-child(3) {
            white-space:nowrap;
        }
    </style>
{% endblock %}

{% block title %}Achievements{% endblock %}

{% block body %}
    <h1>Achievement Definitions</h1>

    <div {{ turbo_stream_listen('App\\Entity\\AchievementDefintion') }}>
        {{ data_table(table) }}
    </div>

    <div class="mt-3 float-end">
        <a class="btn btn-secondary" href="{{ path('app_achievement_definition_new') }}">Add achievement</a>
        <a class="btn btn-secondary" href="{{ path('app_achievement_definition_import') }}">Import</a>
    </div>
{% endblock %}
