{% extends 'base.html.twig' %}

{% block title %}Edit Awarder{% endblock %}

{% block body %}
    <h1>Edit Awarder</h1>

    {{ include('awarder/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('app_awarder_index') }}">Back to list</a>

    {{ include('awarder/_delete_form.html.twig') }}
{% endblock %}
