{% extends 'base.html.twig' %}

{% block body %}
    <h1>Email Template Preview</h1>

    <p class="alert alert-info">
        Select the context for the email preview (not all are always required).
    </p>
    {{ form(form) }}

    <hr />

    <p class="alert alert-warning">
        Note that this preview may not match what is shown in any specific email client.
    </p>

    <p>Email from address: {{ email_template.from }}</p>
    <p>Email subject line: {{ email_template.subject }}</p>

    <div>
        <iframe id="preview" class="container-fluid vh-100"></iframe>
    </div>
{% endblock %}

{% block title %}
    Preview Email
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function updatePreview() {
            const awarder = document.getElementById('template_preview_awarder').value || '-';
            const achievement = document.getElementById('template_preview_achievement').value || '-';
            const participant = document.getElementById('template_preview_participant').value || '-';

            const preview = document.getElementById('preview');
            preview.src = `./preview/${awarder}/${achievement}/${participant}`;
        }
    </script>
{% endblock %}
