{% extends 'base.html.twig' %}

{% block title %}Awards{% endblock %}

{% block body %}
    <h1>Awards</h1>

    {{ data_table(tableAwards) }}

    {#
    <table class="table">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Achievement</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="awards" {{ turbo_stream_listen('App\\Entity\\Award') }}>
        {% for award in awards %}
            {{ include('award/_table_row.html.twig') }}
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    #}

    {# <a class="btn btn-secondary" href="{{ path('app_award_new') }}">Award</a> #}
{% endblock %}
