<form method="post" action="{{ path('app_pathway_delete', {'id': pathway.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pathway.id) }}">
    <button class="btn btn-danger mt-3">Delete</button>
</form>
